@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.spin {
  animation: spin 80s infinite linear;
}

body {
  background: #333;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: auto;
}

code {
  background: orange;
  color: #333;
  padding: 3px;
  border-radius: 2px;
}
